<header>
  <div class="post_content">
    <h2><%= link_to "ツッタカター", posts_path %></h2>
  </div>
</header>
<div class="post">
  <%= form_with(model: @post,local:true,url: posts_path) do |form| %>
  <%= form.label :つぶやく内容： %>
  <%= form.hidden_field :content %>
  <%= @post.content %>
  <%= form.submit "本当につぶやく"%>
  <%= form.submit "やめる", name: 'back' %>
  <% end %>
</div>
<%= render 'form' %>
