<header>
  <div class="post_content">
    <h2><%= link_to "ツッタカター", posts_path %></h2>
    <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= @post.errors.count %>件のエラーがあります。</h2>
      <ul>
        <% @post.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
    <% end %>
  </div>
</header>
<div class="post">
  <%= form_with(model: @post,local:true) do |form| %>
  <%= form.label :つぶやきを編集： %>
  <%= form.text_field :content %>
  <%= form.submit "編集完了"%>
  <% end %>
</div>
<%= render 'form' %>
